[Desktop Entry]
Encoding=UTF-8
Version=1.1.1
Type=Application
Terminal=false
Exec=/usr/bin/python3 /usr/bin/EterZenith Scribbles
Name=EterZenith Scribbles
Icon=/opt/apicn.png

